@{
    ViewBag.Title = "About this blog ";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This blog has been created to share computer knowledge and information to computer scientists out there. <br/>It gives room to make comments and share opinions about posts</p>
